.post-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    background-size: cover;
}

.post_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
    flex-wrap: wrap;

}

.card_image {

    width: 100%;
    height: 300px;
}

.post_card {
    width: 300px;
    height: 350px;
    box-shadow: 2px 5px 10px rgb(214, 210, 210);
}

.post_card:hover {
    /* border: 1px solid black; */
    box-shadow: 2px 5px 10px rgb(68, 65, 65);
}
.logoutBtn{
    all: unset;
    border: 1px solid black;
    border-radius: 10px;
    padding: 0 10px;
    font-weight: 800;
    font-size: 16px;
    /* margin: 0; */
}
.logoutBtn:hover{
    background-color: red;
    /* box-shadow: 2px 5px 5px rgb(181, 157, 157); */
}
.card_button{
    display: flex;
    justify-content: space-around;

}
.card_button span{
    font-size: 24px;
}
.likes_Qty{
    font-size: 16px !important;
    color: red;
}
.rtl {
    direction: rtl;
    text-align: right;
  }
  .loading{
    text-align: center;
    font-size: 24px;
  }